/* Astrick wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*generic project styles*/
    font-family: Arial, sans-serif;
    color: #3a3a33;
}

/* Styles for header, main, and footer */
header {
    background-color: lightcoral;
}
/* Styles for main content */
main {
    background-color: lightblue;
    /*make main element take up any surplus space to push footer down*/
    flex: 1 0 auto;
}
/* Styles for footer */
footer {
    background-color: orange;
}