/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
/* Astrick wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*General body styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /*generic project styles*/
  color: #3a3a33;
  font-family: lato, sans-serif;
}

/* Styles for header, main, and footer */
header {
  background-color: lightcoral;
}

h1 {
  font-family: 'oswald', sans-serif;
}

/* Styles for main content */
main {
  background-color: lightblue;
  /*make main element take up any surplus space to push footer down*/
  flex: 1 0 auto;
}
/* Styles for footer */
footer {
  background-color: orange;
}
